* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:"Open Sans";
}
nav {
    display:flex;
    color: rgba(0, 0, 0, 0.9);
    padding: 24px;
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 800;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    /* font-family: "Open Sans"; */
    

}
nav>a{
   
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    /* font-family: "Open Sans"; */
}
.navbar-toggler{
    font-size: 0.75rem;
    font-weight: 800;
    padding: 0.75rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    transition: box-shadow 0.15s ease-in-out;
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* max-height:  */
    background-attachment: scroll;
    background: no-repeat center center;
}

img{
    object-fit: cover;
    width: 100%;
    height: 350px;
    max-height: 500px;
    
    filter: brightness(60%);
}
span{
    font-size: 24px;
    line-height: 1.1;
    display: block;
    text-align: center;
}
h1{
    font-weight: 800;
    line-height: 1.2;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 8px;
}
.imgtext{
    position: absolute;
    color: white;
    
}
.card{
    padding-left: 24px;
    padding-right: 24px;
}
.blog-list{
    margin-top: 75px;
    padding-bottom: 16px;
}
h2{
    font-size: 30px;
    margin: 30px 0px 10px;
    font-weight: 800;
    line-height: 1.2;
    
}
h3{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.2;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.bloginfo{
    display: inline-flex;
    font-family: 'Lora';
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    
    color: #6c757d;
    
}
hr {
    /* background-color: #6c757d; */
    color: #6c757d;
    opacity: .30;
    height: 1px;
    margin-top: 24;
    margin-bottom: 24;
}
p>a{
   
    text-decoration: none;
    color: #212529;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    
    /* font-family: "Open Sans"; */
}
div>a{
   
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    /* font-family: "Open Sans"; */
}
div>a:hover{
   
    text-decoration: none;
    color: #0085A1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    /* font-family: "Open Sans"; */
}
p>a:hover{
   
    text-decoration: none;
    color: #0085A1;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    
    /* font-family: "Open Sans"; */
}
.olderposts{
    letter-spacing: 0.0625em;

    padding-right: 24px;
    display: flex;
    justify-content: flex-end !important;
    

}
.olderbutton{
    color: #fff;
    background-color: #0085A1;
    border-color: #0085A1;
    font-family: "Open Sans";
    /* width: 200px; */
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem 1.75rem;
    /* padding-right: 0;
    padding-left: 0; */
    font-size: 0.875rem;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase !important;
    margin-bottom: 16px;
    margin-top: 0px;
    letter-spacing: 0.0625em;
}
.olderbutton:hover{
    
    border: 1px solid transparent;
  
    padding: 1rem;
    color: #fff;
    background-color: #007189;
    border-color: #006a81;
    box-shadow: 0 0 0 0.25rem rgba(38, 151, 175, 0.5);
}
.socialfooter{
   display: flex;
   justify-content: center;
   align-items: center;

   color: white;
   padding-inline-start: 0px;
   margin-block-start: 1.75em;
    margin-block-end: .5em;
    font-size: 25px;
    list-style: none;
    
}
ul{
    display: flex;
    justify-content: space-between;
   /* align-items: center; */
   
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#212529;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: .05em;
    cursor: pointer;
    margin-right: 25px;
}
/* .fa-brands{
    width: 50px;
} */
li:hover{
    background-color: #0085A1;
}
h6{
    color: #6c757d ;
    font-family: Lora;
    text-align: center ;
    font-style: italic ;
    font-size: 17px;
    opacity: 1;
    font-weight: 400;
    line-height: 1.5;
    margin-block-start: .5em;
    margin-block-end: 2.75em;
}


