* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:"Open Sans";
}
nav {
    display:flex;
    color: rgba(0, 0, 0, 0.9);
    padding: 24px;
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 800;
    justify-content: space-between;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    /* font-family: "Open Sans"; */
    

}
a{
   
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    /* font-family: "Open Sans"; */
}
.navbar-toggler{
    font-size: 0.75rem;
    font-weight: 800;
    padding: 0.75rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    transition: box-shadow 0.15s ease-in-out;
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
    filter: brightness(60%);
}
span{
    font-size: 24px;
}
h1{
    font-weight: 800;
    line-height: 1.2;
    font-size: 3rem;
}
.imgtext{
    position: absolute;
    color: white;
    
}

