form {
  display: inline-flex;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 7px;
  justify-content: center;
}
input {
  width: 41%;
  margin: 1%;
  border: 2px solid black;
  
}
#first-name,
#last-name {
  margin-top: 20px;
}
textarea, p {
  width: 85%;
  margin: 1%;
  height: 75px;
  border: 2px solid black;
}
button {
  margin-bottom: 10px;
  width: 20%;
  height: 25px;
  border-radius: 5px;
}
ul{
  display: inline-flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 10px;
}
li{
  width: 50%;
}
p{
  border: 2px solid black;
}
.display{
    display: inline-flex;
    flex-wrap: wrap;
    border: 2px solid rgb(87, 87, 87);
    border-radius: 7px;
    justify-content: center;
    margin-top: 10px;
    color:rgb(87, 87, 87);
    width: 100%;
}
.heading{
  background-color: rgb(87, 87, 87);
  width: 100%;
  height: 25px;
  border-radius: 4px;
  margin-top: -3;
  display: flex;
  align-items: center;
  border: 2px solid rgb(87, 87, 87);
  
}
h3{
  margin-left: 10px;
  color: white;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .85em
}
h4{
  width: 40%;
  margin: 10px;
}