* {
    
    margin: 0;
}
label {
    font-size: 1.5em;
    
    
  }
  input.checkedbox{
  animation: pop .3s ease;
  width:20px;
  height:20px;
  transition: linear .5s;
 
  }
  input.checkedbox:checked{
    width:15px;
    height:15px;
    background-color: aqua;
  }

  button{
    margin: 7px;
    /* display: block; */
    display: inline-block;
  }
  
  img{
    width: 50px;
    height: auto;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }
  li{
    list-style: none;
    font-size: x-small;
    display: inline-block;
    text-align: center;
    }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    /* padding: 18px; */
    width: 100px;
    border: none;
    outline: none;
    /* font-size: 20px; */
    height: 50px;
    /* display: flex;
    justify-content: center; */
    text-align: center;
  }
  h2{
    height: 50px;
    display: inline-block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0;
   
    display: none;
    overflow:hidden;
    background-color: #f1f1f1;
    width: 100px;
    height: auto;
   
  }
  input.checkedbox:checked + label {
    text-decoration: line-through;
    text-decoration-color:red;
    text-decoration-thickness: 3px;
  }
  input.checkedbox:checked + .collapsible {
    text-decoration: line-through;
    text-decoration-color:red;
    text-decoration-thickness: 3px;
  }