* {
    
    margin: 0;
}
label {
    font-size: 1.5em;
    
    
  }
 
  input.checkedbox{
  animation: pop .3s ease;
  width:20px;
  height:20px;
  transition: linear .5s;
  background-color:green;
  display: inline-flex;
  flex-direction: column;  
  justify-content:space-around;
  
  }
  .checkedbox:checked:before{
    background-color:green;
    }
  input.checkedbox:checked{
    width:15px;
    height:15px;
    display: inline-grid;
    place-content: center;

    background-color: aqua;
    
  }
  input[type="checkbox"]{
    accent-color: rgb(160, 99, 184);
    
  }

  button{
    margin-right: 7px;
    margin-left: 7px;
    /* display: block; */
    display: inline-block;
  }
  
  img{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }
  .labelPrice{
    grid-area: a;
  }
  .labelDes{
    grid-area: b;
  }
  .imgShow{
    grid-area: c;
    
  }
  li{
    list-style: none;
    font-size: x-small;
    display: inline-block;
    text-align: center;
    }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 100px;
    border: none;
    outline: none;
    height: 50px;
    display:inline-flex;
    justify-content: center;
    padding: 5px;
   }
  h2{
    height: 50px;
    display: inline-block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    
  }
  .collapsible:hover {
    background-color: #555;
  }
  .active
  {
    background-color: #555;
  }
  .content {
    padding: 5px;
   
    display: none;
    overflow:hidden;
    background-color: #f1f1f1;
    width: auto;
    height: 50px;
    grid-template-columns:  2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'a c'
                          'b c';
  }
  input.checkedbox:checked + label {
    text-decoration: line-through;
    text-decoration-color:rgb(160, 99, 184);
    text-decoration-thickness: 3px;
  }
  .checkedbox:checked ~ h2.collapsible {
    background-color: rgb(160, 99, 184);
  }