* {
    margin: 0;
    box-sizing: border-box;
 } 
 @font-face {
    font-family: 'verdemoderna';
    src:url('verdemoderna.eot');
    src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
      url('verdemoderna.woff') format('woff'),
      url('verdemoderna.ttf') format('truetype'),
      url('verdemoderna.svg#verdemoderna') format('svg');
    font-weight: normal;
    font-style: normal;
  }                 
 @font-face {
    font-family: 'julius_sans_oneregular';
    src: url('juliussansone-regular-webfont.woff2') format('woff2'),
         url('juliussansone-regular-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'libre_baskervillebold';
    src: url('librebaskerville-bold-webfont.woff2') format('woff2'),
         url('librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('librebaskerville-regular-webfont.woff2') format('woff2'),
         url('librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.background{
    display: grid;
    position: relative;
    font-size: 0;
    background-color: rgb(248, 248, 247,1.0);
    width: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "a" 
                         "b"
                         "c"
                         "d"
                         "e"
                         "f"
                         "g"
                         "h"
                         "i";
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
/* #garden{
    margin:0;
    background-color: rgba(19, 67, 71, 0.9);
    background: url(noise.png) repeat,url(enso.svg) left top no-repeat,url(gridlines-opaque.png) top left,url(contours-opaque.png)left top repeat,url(huntington.jpg) left top no-repeat;
    background-size: 100px, 80px, 260px 218px, 100px, 100% 260px;
    background-position: top left, left 168px top 33px, top -4px left, bottom left;
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}
} */
#garden{
    margin:0;
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    background: url(noise.png) repeat,url(gridlines.png),url(enso.svg) no-repeat, url(contours.png),url(huntington.jpg) no-repeat;
    background-size:  50px, 260px 218px, 50px, 230px, 100% 240px;
    background-position:  top left, top left,left 50% top 10%, left top, bottom left;
    height: 240px;
  
}
.dottedUL{
  text-decoration: dotted underline; 
  text-decoration-thickness: 1.65px;
  font-size: 15px;

}
#header{
    height: 170px;
    text-align: center;
    
    color: white;

    font-stretch: ultra-expanded;
    
    align-items: center;
    text-align: center;
    grid-area: "a";
 
    

}
ul{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    
}
li{
    text-decoration: none;
    list-style-type: none; 
    
    
}
h1{
    font-family: 'julius_sans_oneregular';
    font-size: 28px;
    font-weight: 100;
    padding: 10px;
    padding-top: 90px;
    align-self: center;
}
h5{
    font-family: 'julius_sans_oneregular';
    font-size: 19px;
    font-weight: 100;
    padding-left: 45px;
   
    padding-bottom: 10px;
    padding-top: 34px;
}

#pretty{
    font-style: italic;
    color: rgba(245, 245, 245, 0.671);
    font-family: 'librebaserville-regular-webfont.woff';
    font-weight: 100;
    font-size: 21px;
    font-stretch: ultra-expanded;
    
}
p{
    font-family: 'librebaserville-regular-webfont.woff';
    padding-left: 45px;
    padding-right: 62px;
    font-size: 16.5px;
    line-height: 1.6;
    padding-bottom: 7px;
    color: rgb(94, 94, 94);
    text-align: justify;
}
#start{
    padding-top: 34px;
}

#navLink{
    height: auto;
    color: rgba(245, 245, 245, 0.975);
    font-family: 'julius_sans_oneregular';
    font-size: 14px;
    font-style: normal;
    background: url(noise.png);
    background-color: rgba(240, 248, 255, 0.365);
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    grid-area: "b";
}
#leftNavLink{
    width: 15%;
    
    
}

#midBox{
    padding: 7.5%;
}
#midNavLink{
    width:70%;
    line-height: 50px;
    display: inline-block;
    transition: .2s linear;
   
    
}

#midNavLink:hover{
    background-color: rgba(254, 255, 240, 0.25);
}
#rightNavLink{
    width:15%;
    
    display: inline-block;
    transition: .2s linear;
    font-family: 'verdemoderna';
    color: white;
    font-size:44px; 
    text-decoration: none;
}
#rightNavLink:hover{
    background-color: rgba(254, 255, 240, 0.25);
}

.blurbs{
    padding-bottom: 30px;
}
#infoBlurb{

    grid-area: "c";
    background-color: rgb(248, 248, 247,1.0);
    
    
}
#references{
    display:block;
    /* position: relative; */
    grid-area: "h";
    height:auto;
    background-color: rgb(237,244,240);
    /* color: #c0cac3; */
    /* border-top: solid 1px #d9e3dc; */
    padding:0;
    margin:0;

    
}


#moreInfo{
    background: url(contours-opaque.png)repeat, url(gridlines-opaque.png)repeat, url(bamboo.png)no-repeat;
    background-size: auto, auto, cover;
    background-attachment: scroll, scroll, fixed;
    grid-area: "d";
    background-color: rgba(138,188,159,0.45);
    height: auto;
    font-size: 16.5px;
    padding-bottom: 15px;
   
}
#otherNavLinks{
    grid-area: "i";
    background: url(bamboo.png)no-repeat;
    background-color: rgba(138,188,159,0.5);
    height:auto;
    bottom: 0;
    font-size: 16.5px;
    display: block;
    
}
#requirements{
    grid-area: "e";
    background-color: rgb(248, 248, 247,1.0);
}
#blank{
    display:none;
}
#byWho{
    background: url(noise.png) repeat,url(gridlines.png), url(contours.png),url(koi.jpg) no-repeat;
    background-size:  50px, 260px 218px, 230px, 100% 240px;
    background-position:  top left, top left, left top, bottom left;
    grid-area: "f";
    padding-left: 45px;
    padding-right: 65px;
    height: 225px;
    font-family: 'librebaserville-regular-webfont.woff';
    font-size: 25px;
    font-style: italic;
    color:rgba(245, 245, 245, 0.486);
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    line-height: 2.0;
}
#socialFooter{
    /* clear:both; */
    grid-area: "g";
    background-color: rgb(19, 67, 71);
    height:auto;
    list-style-type: none; 
}
.socialULList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;

}
.socialList{
    font-family: 'verdemoderna';
    font-size:48px;
    color: rgba(255, 255, 255, 0.521);
    padding: 1em 5%;
    
}
.lists{
    display: block;
    margin: 0;
    padding: 0;

    

}
.listsMoving{
    float:left;
    font-size: 16px;
    font-style: normal;
    color:  #607476;
    font-family: 'julius_sans_oneregular';
    text-decoration: none;
  	list-style: none;
    padding-left: 0;
    width: 50%;
    display: block;
    margin: 0;
    height: auto;
    border-top: solid 1px #d9e3dc;
    padding: 1em;
}

.insert{
    font-size: 16px;
    font-family: 'librebaserville-regular-webfont.woff';
    font-style: italic;
    color: rgba(0, 0, 0, 0.299);
}
.author{
    font-size: 16px;
    font-family: 'librebaserville-regular-webfont.woff';
}
.creation{
    width: 200px;
    height: auto;
}
.dottedthing{
    text-decoration: dotted underline; 
    text-decoration-thickness: 1.65px;
    font-size: 16px;
    text-underline-position:under ;
  
  }
  #rnLink{
    text-decoration: none;
    color:white;
    
}
@media only screen and (min-width: 1132px){
body {
    font-size: 100%;}
}